<!-- solicitudes/templates/solicitudes/registro.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{% static 'solicitudes/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="image3">
            <img src="{% static 'img/logoSena.png' %}" alt="Descripción de la imagen" class="img/logoSena.png">
        </div>
        <h1>Registro de Usuario</h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div>
                <label for="{{ form.email.id_for_label }}">Correo electrónico:</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <div>
                <label for="{{ form.password1.id_for_label }}">Contraseña:</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="error">{{ form.password1.errors }}</div>
                {% endif %}
            </div>
            <div>
                <label for="{{ form.password2.id_for_label }}">Confirmar contraseña:</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors }}</div>
                {% endif %}
            </div>
            <button type="submit">Registrarse</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a>.</p>
    </div>
</body>
</html>